# Dossiers Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
env/
ENV/

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/